
:root {
  --color: #ecf1f8;
  --transition-time: 0.5s;
}

.cardboards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5rem;
  padding: .5rem;
  margin: 0 auto;
  width: max-content;
}

.cardboard {
  position: relative;
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 12em;
  width: 20em;
  font-size: 1.3em;
  color: #e1e1e6;
  border-radius: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: top;
  -webkit-box-shadow: 1px 1px 5px 0px #000000; 
  box-shadow: 1px 1px 5px 0px #000000;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.projectButton {
  display: none;
  position: absolute;
  left: 36%;
  bottom: 40%;
  font-size: 0.6em;
  font-weight: bold;
  background: rgba(77, 189, 51, 0.95);
  color: #ecf1f8;
  border-radius: 15%/50%;
  border: 2px solid #4DBD33;
  padding: 0.8em 2em;
  margin-right: 2em;
  margin-bottom: 0.1em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
  text-decoration: none;
}
.projectButton:hover {
  color: #4DBD33;
  background: rgba(236, 241, 248, 0.95);
  transition: 0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in; 
  -o-transition: 0.15s ease-in;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1em;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  transition: all, var(--transition-time);
}

.cardboard:hover {
  color: #e1e1e6;
  background-color: rgba(0,0,0,0.1);
}

.cardboard:hover .projectButton {
  transform: rotate(0);
  display: block;
}
.cardboard:hover .projectContainer {
  color: #e1e1e6;
  background-color: transparent;
}
.cardboard:hover h1,
.cardboard:hover p, 
.cardboard:hover .date,
.cardboard:hover .tags .tag {
  display: none;
  color: #e1e1e6;
  background: transparent;
}

.cardboard h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
  color: #4DBD33;
  transition: all, var(--transition-time);
  text-shadow: #121214 0.05em 0.05em 0.2em;
}

.cardboard p {
  font-size: 0.75em;
  margin-top: 0.5em;
  line-height: 2em;
  color: #e1e1e6;
  transition: all, var(--transition-time);
  text-shadow: #121214 0.05em 0.05em 0.2em;
}

.cardboard .tags {
  display: flex;
}

.cardboard .tags .tag {
  font-size: 0.6em;
  background: rgba(77, 189, 51, 0.95);
  color: #ecf1f8;
  border-radius: 10px;
  border: 1px solid #4DBD33;
  padding: 0.1em 0.8em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}


.cardboard .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  margin: 1em;
  line-height: 1em;
  opacity: .9;
  color: #4DBD33;
  text-shadow: #121214 0.05em 0.05em 0.2em;
  transition: all, var(--transition-time);
}

/* MEDIA QUERIES */
