.tools {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 2%;
  padding: 5px;
}
.languageButton a {
  border: none;
  outline: none;
  background: #4DBD33;
  color: #ecf1f8;
  border: 2px solid #4DBD33;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
  padding: 2px 5px;
  text-decoration: none;
  transition: 0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in; 
  -o-transition: 0.15s ease-in;
  -webkit-box-shadow: 1px 1px 5px 0px #000000; 
  box-shadow: 1px 1px 5px 0px #000000;
}
.languageButton a:hover {
  background: transparent;
  color: #4DBD33;
  border: 2px solid #4DBD33;
  transition: 0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in; 
  -o-transition: 0.15s ease-in;
}
.themeButton {
  cursor: pointer;
  margin-left: 10px;
 }
 #dark {
   display: block;
 }
 #light {
  display: none;
}
