.terminalBtn {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}
.minimizeBtn {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}
.zoomBtn {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}
.terminalMenu {
  width: 500px;
  box-sizing: border-box;
  height: 25px;
  background-color: #212124;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: -1px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.terminalScreen {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  width: 500px;
  height: 250px;
  margin: 0 auto;
  padding-top: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#code {
  margin-left:auto;
  margin-right:auto;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
  width:400px;
  font: inherit;
  font-size: 1.2em;
  border: none;
  background-color: transparent;
  outline: none;
  color: #e1e1e6;
}
#code span {
  white-space: nowrap;
}
#code A, .codeHighlight{
  color: #4DBD33;
}
.codeBoot {
  color: #4DBD33;
}
