.tools {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 2%;
  padding: 5px;
}
.languageButton a {
  border: none;
  outline: none;
  background: rgba(32, 32, 36, 0);
  color: #4DBD33;
  border: 2px solid #4DBD33;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
  padding: 2px 5px;
  text-decoration: none;
  transition: 0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in; 
  -o-transition: 0.15s ease-in;
  -webkit-box-shadow: 2px 2px 10px 0px #000000; 
  box-shadow: 2px 2px 10px 0px #000000;
}
.languageButton a:hover {
  color: #121214;
  background: #4DBD33;
  transition: 0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in; 
  -o-transition: 0.15s ease-in;
}
.themeButton {
 margin-left: 10px;
}
#dark {
  display: none;
}
#light {
  display: block;
}